* {
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: lightgray;
}
h3 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;

  padding: 40px 0 0 50px;
  color: hsl(0, 0%, 95%);
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  padding: 50px;
  position: relative;
  line-height: 2;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  margin: 10% 25% 0 25%;
  overflow: auto;
}

.sedan {
  width: 33%;
  height: 500px;
  float: left;
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.suvs {
  width: 33%;
  height: 500px;
  float: left;
  margin: 0;
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  width: 33%;
  height: 500px;
  float: left;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0%;
  position: relative;
  bottom: 900px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn {
  margin-left: 50px;
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  padding: 10px;
  border: 2px;
  border-color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: white;

  border: 3px;
  border: 2px solid white;
}

img {
  margin-top: 30px;
  margin-left: 50px;
}
